@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source-sans-pro/SourceSansPro-Regular.otf"); }

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.otf");
  font-weight: bold; }

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source-sans-pro/SourceSansPro-BoldIt.otf");
  font-weight: bold;
  font-style: italic; }

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0; }
  footer .redes {
    justify-content: center;
    font-size: 27px; }
    footer .redes .fa-instagram {
      margin-left: 11px; }
  footer .whats i {
    color: green;
    font-weight: bold;
    font-size: 28px;
    margin-left: 6px;
    margin-top: 6px; }

nav {
  margin-bottom: 35px; }

#msg {
  display: none; }

body {
  background-color: #ccc;
  font-family: "Source Sans Pro"; }
  .campo-pesquisa{
    width: 100% !important;
  }
  .tabelas{
    margin-top: 76px;
  }
