//media queries
@import 'abstracts/_breakpoints';
//fontes
@import 'bases/_fonts';
//components
@import 'components/_cabecalho';
@import 'components/_rodape';
@import 'components/menu';
//layout
@import 'layout/_boxmensagem';

//paginas
@import 'pages/_home';



body{
    background-color: #ccc;
    font-family: "Source Sans Pro";
    
}