footer{
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    .redes{
        justify-content: center;
        font-size: 27px;
        .fa-instagram{
            margin-left: 11px;
        }
    }
    
    .whats{
        i{
            color: green;
            font-weight: bold;
            font-size: 28px;
            margin-left: 6px;
            margin-top: 6px;

        }
    }
    
}